/*
 * Стили для кнопки-звёздочки
 */

@import "../variables/colors";

.loading .asterisk {
  transform-origin: 50% 28%;
  animation: rotate 1.5s ease-in-out infinite;
}

.asterisk {
  padding: 0;

  color: $main-red-color;
  cursor: pointer;

  background: transparent;
  border: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:active {
    color: $link-active-color;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
